@page "/students"
@using Task11.Data
@inject IStudentService service
@inject IJSRuntime JsRuntime

<h3><u>Students</u></h3>
<hr />


<table class="student-table">
    <thead>
        <tr>
            <th>Avatar</th>
            <th scope="col"><span class="text">FirstName</span></th>
            <th scope="col"><span class="text">LastName</span></th>
            <th scope="col"><span class="text">BirthDate</span></th>
            <th scope="col"><span class="text">Studies</span></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in students)
        {
            <tr>               
                <td><img src="@student.Avatar" width="50" height="50" class="student-avatar"></td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.BirthDate.ToShortDateString()</td>
                <td>@student.Studies</td>
                <td>
                    <button @onclick="() => Show(student.StudentID)" class="student-delete-button">&times;</button>
                    <a href="/students/@student.StudentID" class="student-edit">
                        <span class="text-edit">Edit</span></a>
                </td>            
            </tr>  
        }
    </tbody>
</table>

@foreach (var student in students)
{
    <div class="submition" id="submition-@student.StudentID">
        <div class="submition-content">
            <div class="header">
                <span class="title">Are you sure you want to delete this student?</span>
            </div>
            <from class="body" action="/students">
                <button @onclick="() => Delete(student.StudentID)" class="sub-button" type="submit">Yes</button>
                <button @onclick="Decline" class="sub-button">No</button>
            </from>
        </div>
    </div>
}



@code {
    private List<Student> students;

    protected override void OnInitialized()
    {
        students = StudentService.Students;
    }

    private async Task Show(int studentId)
    {
        await JsRuntime.InvokeVoidAsync("show", studentId);
    }

    private async Task Confirm()
    {
        await JsRuntime.InvokeVoidAsync("confirm");
    }

    private async Task Decline()
    {
        await JsRuntime.InvokeVoidAsync("decline");
    }

    private async Task Delete(int studentId)
    {
        students.Remove(service.FindStudent(studentId));
        service.DeleteStudent(studentId);
        await Confirm();
    }
}
